{% extends 'base.html' %}
{% set navabout = "active" %} <!--костыль ага--> 
{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../static/photoImages/fortnite.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="900" height="700" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">H<i class="fas fa-circle"></i>nder Productions<i class="fas fa-mail-bulk"></i></h1>
      <p class="lead">Это второй мой сайт, первый изображён на картинке, если ты это читаешь, то это значит что этот сайт был выложен в интернет, а также ты видишь на фото главное меню моего первого сайта, если хочешь чтоб он попал в интернет то напиши обэтом статью, ЗАРАНЕЕ СПАСИБО!</p>
    </div>
  </div>
</div>
{% endblock %}